<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/5588f562de.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Jua&display=swap" rel="stylesheet">
</head>
<style>
    *{
        font-family: 'Gowun Dodum', sans-serif;
    }

    .myInfo{
        border: 1px solid black;
        width: 800px;
        height: 520px;
        margin: 30px auto;
        border-radius: 8px;
    }

    #title{
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 20px;
        background-color: rgba(209, 239, 255, 0.8);
    }
</style>
<body>
    <section class="myInfo">
        <div id="title">내 정보</div>
        <div class="userInfo">
            <div>이름 : 차연서</div>
            <div>아이디 : dustj</div>

        </div>
    </section>
</body>
</html>